@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCJdLCJuYW1lIjoib3Jsb3Ztb2JpbC4uZ21haWwuY29tIiwiZ3JvdXBzIjpbInRyaWFsIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIiwidHJpYWwiXSwiaWF0IjoxNjY5MTY4MDM5LCJuYmYiOjE2NjkxNjgwMzksImV4cCI6MjUzMzA4MTYzOX0.vXbqz6FyPX4792qODa7VS4TcE-oOm-TDXqQ-q12mmo8